.loaderContainer {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  position: fixed;
  animation: loader-animation 0.6s linear infinite;
  z-index: 9999;
}

@keyframes loader-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
