@import './_variables.scss';

/* LIGHT THEME */
:root {
  --color-absolute-white: var(--vt-c-absolute-white);
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-bold: var(--vt-c-text-light-2);

  --color-text-black: var(--vt-c-black);
  --color-text-soft-black: var(--vt-c-black-soft);

  --color-separator: var(--vt-c-white-mute);

  /* Button Colors */
  --color-button-background: var(--vt-c-red-mute);
  --color-disabled: var(--vt-c-divider-light-1);
  --color-active-button: var(--vt-c-red);
  --color-button-text: var(--vt-c-text-light-4);

  /* Input variables */
  --color-placeholder: var(--vt-c-black-mute);
  --section-gap: 160px;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-absolute-black);
    --color-absolute-white: var(--vt-c-black-soft);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
    --color-text-bold: var(--vt-c-text-black-2);

    --color-text-black: var(--vt-c-white);
    --color-text-soft-black: var(--vt-c-white-soft);

    --color-separator: var(--vt-c-white-mute);

    /* Button Colors */
    --color-button-background: var(--vt-c-red-mute);
    --color-disabled: var(--vt-c-divider-dark-1);
    --color-active-button: var(--vt-c-red);
    --color-button-text: var(--vt-c-white-soft);

    /* Input variables */
    --color-placeholder: var(--vt-c-black-mute);
    --section-gap: 160px;
  }
}
