@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Thin.ttf'), url('/src/assets/fonts/Lato-ThinItalic.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Light.ttf'), url('/src/assets/fonts/Lato-LightItalic.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Regular.ttf'), url('/src/assets/fonts/Lato-Italic.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Bold.ttf'), url('/src/assets/fonts/Lato-BoldItalic.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Black.ttf'), url('/src/assets/fonts/Lato-BlackItalic.ttf');
  font-weight: 900;
  font-display: swap;
}
