.layoutContainer {
  height: 100%;
}

.searchInput {
  position: fixed;
  top: 0;
  margin: 35px 30px 0px 30px;
}

.list {
  height: 75%;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 125px 30px 80px 30px;
  place-content: flex-start;
  overflow-y: scroll;

  &.empty {
    overflow-y: hidden;
  }
}

.footerButtons {
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  height: 80px;

  background: var(--color-absolute-white);
  box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.05);
}

.imageContainer {
  position: relative;
  width: 315px;
  height: 220px;
  border-radius: 5px 5px 0 0;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.pokemonImage {
  position: absolute;
  top: 5%;
  left: auto;
  z-index: 3;
  width: auto;
  height: 95%;
  border-radius: 5px;
}

.detailsContainer {
  margin-top: 220px;
  width: 100%;
}

.element {
  flex-direction: row;
  width: 100%;
  height: 47px;
  border-bottom: 1px solid var(--color-separator);
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  & h3 {
    color: var(--color-text-soft-black);
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
  }

  & span {
    color: var(--color-text-soft-black);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
}
